[Unit]
Description=A QQ agent daemon
After=network.target,dbus.service
Requires=dbus.socket

[Service]
Type=simple
# User=nobody
# Environment="DBUS_SESSION_BUS_ADDRESS=unix:abstract=/tmp/dbus-XXBRdFQxlY,guid=adc3d044b0c8e6fb961e747a55d7ef59"
ExecStart=/usr/bin/qqagent

[Install]
WantedBy=multi-user.target
